<p id="notice"><%= notice %></p>

<h1>Listing Author Profiles</h1>

<table>
  <thead>
    <tr>
      <th>Birthplace</th>
      <th>Bio</th>
      <th>Awards</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @author_profiles.each do |author_profile| %>
      <tr>
        <td><%= author_profile.birthplace %></td>
        <td><%= author_profile.bio %></td>
        <td><%= author_profile.awards %></td>
        <td><%= link_to 'Show', author_profile %></td>
        <td><%= link_to 'Edit', edit_author_profile_path(author_profile) %></td>
        <td><%= link_to 'Destroy', author_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Author profile', new_author_profile_path %>
